/**
 * FILEPATH: /Users/alex-k/repos/Rock-Paper-Scissors/style.css
 * 
 * This CSS file contains styles for the Rock-Paper-Scissors game.
 * It defines the styling for the body, header, main, footer, headings,
 * result element, and player controls.
 * 
 * Styles include background colors, text colors, font families,
 * font sizes, padding, borders, and flexbox properties.
 */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Courier New', monospace;
    font-size: 3rem; 
}

header, main, footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 3.5rem; 
    font-family: 'Courier New', monospace;
}

header {
    font-size: 4rem; 
    border-bottom: 2px solid #fff;
}

main {
    font-size: 3.5rem; 
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

footer {
    font-size: 3rem; 
    border-top: 2px solid #fff;
}

h1, h2, h3, h4, #result {
    font-family: 'Courier New', monospace;
    font-size: 3.5rem; 
}

h2 {
    font-size: 4rem; 
}

h3 {
    font-size: 3.5rem; 
}

h4 {
    font-size: 3rem; 
}

#player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#player-controls button {
    margin: 0 10px;
    font-size: 4rem; 
}